.navbar {
    border-radius: 0;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: #999;
}

.navbar input.form-control {
    padding: 2px 10px;
    height: 30px;
    margin-top: 5px;
}

#logo-img {
    height: 40px;
    margin-top: -5px;
    margin-right: 30px;
}

#search-home {
    font-size: 24px;
}

ul.list-group li.list-group-item {
    border: 0;
}

#players-result li:nth-child(even) {
    border-left: 2px solid #222;
}

.match .player {
    background: #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
.match .framescore {
    text-align: center;
    padding: 8px 20px;
    background: gold;
    color: #000;
    font-weight: bold;
}
.match .framescore span {
    font-size: 18px;
}
#match-thumbs img {
    height: 75px;
}
#frames .framescore {
    padding: 0 20px;
    font-size: 10px;
}
#frames .framescore span {
    font-size: 10px;
    color: #333;
    font-weight: normal;
}
#frames .framescore span.winner {
    color: #000;
    font-weight:  bold;
}
.match .time {
    background: #000;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 0px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    z-index: 100;
    margin-left: -20px;
}

.footer {
    margin-top: 30px;
    margin-bottom: 10px;
}

.nav-pills li {
    width: 100%;
    display: block;
}

.search_results .name a {
    text-decoration: none;
    font-weight: bold;
}
.search_results .name a:hover {
    color: #fff;
}
.search_results a .label { 
    margin-right: 5px;
}
